<!DOCTYPE html>
<html>
<head>
  <title>Cachestork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= filepicker_js_include_tag %>
  <!-- Braintree API -->
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "layouts/header" %>
  <%= flash_messages %>
  <%= yield %>    


</body>
</html>
